manifest {
  author = "Preecha Patumcharoenpol".split(" ")[1]
  nextflowVersion = ">=20.10.0"
  version = '0.1.0'
}

params {
  input = "input.csv"
  single_end = false
  help = false
  dada {
	pool = "pseudo"
	chimera_alg = "consensus"
	chimera_fol = 2.0
  }
// For BLAST
//  blastrefseq = "${projectDir}/resources/qiime2020.2/gg99_seq.qza"
//  blastreftax = "${projectDir}/resources/qiime2020.2/gg99_tax.qza"

// For NBclassiffier
//  modeltax =  "${projectDir}/resources/qiime2021.8/silva-138-99-nb-classifier.qza"
  modeltax = "s3://qiime2-data/2021.8/common/silva-138-99-nb-classifier.qza"

// For tree classifier
//  modeltree = "${projectDir}/resources/qiime2021.8/sepp-refs-silva-128.qza"
  modeltree = "s3://qiime2-data/2021.8/common/sepp-refs-silva-128.qza"
}


profiles {
  local {
    process.executor = 'local'
  }
  pbspro {
	// CPU && Mem usage
	process {
        executor = 'pbspro'
		cpus = 2
		mem = 8.GB

		withName: dada2 {
			cpus = 40
			memory = 64.GB
			time = "24:00:00"
		}

// Generic
		withLabel: med_cpu {
			cpus = 30 
			memory = 32.GB
		}

		withLabel: med_mem {
			cpus = 16 
			memory = 64.GB
		}

		withLabel: big_mem {
			cpus = 20 
			memory = 256.GB
		}
	}
  }

  conda {
    conda.cacheDir = "$HOME/.minflow/cache/conda"
    process.conda = "${projectDir}/envs/minflow.yaml"
	process {
	  withLabel: qiime2 {
	    conda = "${projectDir}/envs/qiime2-2021.8-py38-linux-conda.yml"
	  }
	  withName: dada2 {
	    conda = "${projectDir}/envs/dada2.yaml"
	  }
	}
  }

  singularity {
	singularity.enabled = true
	singularity.cacheDir = "$HOME/.minflow/cache/singularity"
	singularity.autoMounts = true
	process {
	  withLabel: qiime2 {
	    container = "quay.io/qiime2/core:2021.8"
	  }
	  withName: dada2 {
	    container = "quay.io/biocontainers/bioconductor-dada2:1.22.0--r41h399db7b_0"
	  }
	}
  }
  test {
    params {
      input = "testdata/test.csv"
	  trimfront1 = 17
	  trimfront2 = 21
      trimtail1 = 0 // 10
      trimtail2 = 0 // 15
      qc = true
      minOverlap = 12
      outputdir = "${launchDir}/testout"
//      rootmafft = false
//      roottree = "$baseDir/resources/qiime2021.8/sepp-refs-silva-128.qza"
    }
  }
}

// vi: ft=groovy
