{% extends "base.html" %}
{% set active_page = "project" %}

{% block title %}Project{% endblock %}

{% block head %}
{{ super() }}
<!-- BS Stepper -->
<link rel="stylesheet" href="{{ url_for('static', path='/addon/bs-stepper/css/bs-stepper.min.css') }}">
<!-- dropzonejs -->
<link rel="stylesheet" href="{{ url_for('static', path='/addon/dropzone/min/dropzone.min.css') }}">
{% endblock %}

{% block page_content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> Start New Project <small></small></h1>
          </div><!-- /.col -->
          <!--
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Top Navigation</li>
            </ol> 16s / ITS
          </div> --><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">

        <!-- STEP -->
        <div class="row">
          <div class="col-md-12">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">Project ID: {{ proj_id }} </h3>
              </div>
              <div class="card-body p-0">
                <div id="stepper4" class="bs-stepper ">
                  <!-- <div id="stepper4" class="bs-stepper vertical"> -->
                  <div class="bs-stepper-header" role="tablist">
                    <div class="step" data-target="#test-vl-1">
                      <button type="button" class="step-trigger" role="tab" id="stepper4trigger1" aria-controls="test-vl-1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">New Project</span>
                      </button>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-vl-2">
                      <button type="button" class="step-trigger" role="tab" id="stepper4trigger2" aria-controls="test-vl-2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Data Upload</span>
                      </button>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-vl-3">
                      <button type="button" class="step-trigger" role="tab" id="stepper4trigger3" aria-controls="test-vl-3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Run Project</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <form onSubmit="return false">
                      <div id="test-vl-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper4trigger1">
                        <div class="row col-12">
                          <div class="form-group col-12 col-sm-6 col-md-6">
                            <label for="project-email">Email address</label>
                            <input type="email" class="form-control" id="project-email" placeholder="Enter email">
                          </div>
                          <div class="form-group col-12 col-sm-6 col-md-6">
                            <div class="align-top">
                              <label for="project-type">Select project type</label>
                              <!-- <p class="mt-3 mb-1"><b>Select project type </b><code></code></p> -->
                              <div class="row">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn bg-primary active">
                                  <input type="radio" name="options" value="16s" id="option_b1" autocomplete="off" checked> 16s
                                </label>
                                <label class="btn bg-primary">
                                  <input type="radio" name="options" value="ITS" id="option_b2" autocomplete="off"> ITS
                                </label>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-info" onclick="stepper4.next()">Next</button>
                      </div>
                      <div id="test-vl-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper4trigger2">
                        <div class="form-group">
                          <p class="card-text">Uploading a meta data (file type CSV) and multiple sample files. (file type .gz)</p>
                  <div id="actions" class="row">
                    <div class="col-lg-6">
                      <div class="btn-group w-100">
                        <span class="btn btn-success col fileinput-button">
                          <i class="fas fa-plus"></i>
                          <span>Add files</span>
                        </span>
                        <button type="submit" class="btn btn-primary col start">
                          <i class="fas fa-upload"></i>
                          <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning col cancel">
                          <i class="fas fa-times-circle"></i>
                          <span>Cancel upload</span>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                      <div class="fileupload-process w-100">
                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table table-striped files" id="previews">
                    <div id="template" class="row mt-2">
                      <div class="col-auto">
                          <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                      </div>
                      <div class="col d-flex align-items-center">
                          <p class="mb-0">
                            <span class="lead" data-dz-name></span>
                            (<span data-dz-size></span>)
                          </p>
                          <strong class="error text-danger" data-dz-errormessage></strong>
                      </div>
                      <div class="col-4 d-flex align-items-center">
                          <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                          </div>
                      </div>
                      <div class="col-auto d-flex align-items-center">
                        <div class="btn-group">
                          <button class="btn btn-primary start">
                            <i class="fas fa-upload"></i>
                            <span>Start</span>
                          </button>
                          <button data-dz-remove class="btn btn-warning cancel">
                            <i class="fas fa-times-circle"></i>
                            <span>Cancel</span>
                          </button>
                          <button data-dz-remove class="btn btn-danger delete">
                            <i class="fas fa-trash"></i>
                            <span>Delete</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                        </div>
                        <button class="btn btn-info" onclick="stepper4.previous()">Previous</button>
                        <button class="btn btn-info" onclick="stepper4.next()">Next</button>
                      </div>
                      <div id="test-vl-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepper4trigger3">
                        <div class="mx-auto text-center">
                          <p class="card-text"><b>Project Ready to Run</b></p>
                          <button class="btn btn-success col-8 col-sm-1 col-md-1" >S T A R T </button>
                        </div>
                        <button class="btn btn-info mt-5" onclick="stepper4.previous()">Previous</button>
                        <button type="submit" class="btn btn-info mt-5">Start</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <!-- Visit <a href="https://github.com/Johann-S/bs-stepper/#how-to-use-it">bs-stepper documentation</a> for more examples and information about the plugin. -->
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}

{% block scripts %}
{{ super() }}

<!-- BS-Stepper -->
<script src="{{ url_for('static', path='/addon/bs-stepper/js/bs-stepper.min.js') }}"></script>
<!-- dropzonejs -->
<script src="{{ url_for('static', path='/addon/dropzone/min/dropzone.min.js') }}"></script>

<script>

    // BS-Stepper Init
    stepper4 = new Stepper(document.querySelector('#stepper4'))

    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false
  
    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)
  
    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/upload/test/{{ proj_id }}", // Set the url
      thumbnailWidth: 80,
      thumbnailHeight: 80,
      parallelUploads: 20,
      maxFilesize:500, // In MB
    //   acceptedFiles: '.png, .jpg,.gz,.csv,.zip',
      previewTemplate: previewTemplate,
      autoQueue: false, // Make sure the files aren't queued until manually added
      previewsContainer: "#previews", // Define the container to display the previews
      clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
    })
  
    myDropzone.on("addedfile", function(file) {
      // Hookup the start button
      file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
    })
  
    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function(progress) {
      document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })
  
    myDropzone.on("sending", function(file) {
      // Show the total progress bar when upload starts
      document.querySelector("#total-progress").style.opacity = "1"
      // And disable the start button
      file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })
  
    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function(progress) {
      document.querySelector("#total-progress").style.opacity = "0";
      // Do something when all files completed.
      stepper4.next();

    })
  
    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function() {
      myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function() {
      myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
</script>

{% endblock %}