manifest {
    author = 'Preecha Patumcharoenpol'
    name = 'nextflow-kraken2'
    description = 'A simple nextflow pipeline for running kraken2 and bracken in a docker container'
    homePage = 'https://github.com/angelovangel/nextflow-kraken2'
    nextflowVersion = '>=20.00'
}

process.container = 'aangeloo/kraken2:latest'
singularity.enabled = true
docker.enabled = false
singularity.cacheDir = "/share/data/home/yumyai/singularity_images/nextflow/"
singularity.autoMounts = true
process.conda = "$baseDir/environment.yml"
process.executor = 'pbspro'

profiles {

    test {
        
        params.readsdir = "$baseDir/testdata/"
        params.fqpattern = "*R{1,2}.fastq.gz"
        params.weakmem = true
        // the smallest possible dataset, makes no sense though
        // params.kraken_db = "/share/data/sysbiomics/kraken2/k2_standard_8gb_20201202/"
        params.kraken_db = "$baseDir/testdata/simple_k2_db"
        params.readlen = 35
    }

    test_nanopore {
        params.ontreads = true
        params.kraken_db = "/share/data/sysbiomics/db/kraken2_db/k2_standard_8gb_20201202/"
        params.weakmem = true
        params.fqpattern = "*test.fastq" // "zymo-test.fastq"
        params.readsdir = "$baseDir/testdata/"
    }
}

// vi: ft=groovy
